.main {
  display: flex;
  flex-direction: column;
}

.dark {
  color: rgba(255, 255, 255, 0.18)
}

.green {
  color: green;
}
.yellow {
  color: yellow;
}
.orange {
  color: orange
}
.red {
  color: red;
}